.item {
  background: var(--color-b0);
  box-shadow: inset 0px -1px 0px rgba(250, 250, 250, 0.1);
}

.topWrapper {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-g8);
  width: 272px;
}

.iconWrapper {
  transition: transform 300ms ease !important;
  transform: none;
  height: 48px;
}

.iconWrapper.open {
  transform-origin: center;
  transform: rotate(45deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease;
  color: var(--color-g8);
}

.content.open {
  max-height: 200px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .caption {
    font-size: 20px;
    line-height: 24px;
    width: fit-content;
  }
}
